.underContainer {
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: relative;
    z-index: 1;
}

.title {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    z-index: 1;
    white-space: nowrap;
    position: relative;
}

.lines {
    display: flex;
    align-items: center;
    width: 350px;
    height: 1px;
    justify-content: space-around;
}


.desc {
    color: #FFFFFF99;
    font-size: 14px;
    line-height: 15.4px;
    margin-top: 16px;


    p {
        font-weight: 400;
    }

    text {
        font-weight: 700;
    }
}

.spans {
    display: flex;
    margin-top: 32px;
    width: 68px;
    gap: 8%;
    height: 6px;
}

.whitespan {
    width: 40px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.grayspan {
    background-color: #FFFFFF40;
    width: 6px;
    height: 6px;
    border-radius: 10px;
}

.whitecircles {
    position: relative;
    height: 1px;
}

.white1 {
    width: 100%;
    max-width: 200px;
    height: 200px;
    position: absolute;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    top: 7%;
    right: 0;
    opacity: 0.2;
}

.white2 {
    width: 100%;
    max-width: 150px;
    height: 150px;
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    top: 25px;
    right: 0;
    opacity: 0.2;
}

.redcircle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: rgba(238, 43, 0, 0.2);
    filter: blur(50px);
    z-index: 0;
    right: 0;
    position: absolute;
}

// .bigcircle {
//     width: 100%;
//     max-width: 224px;
//     height: 224px;
//     position: absolute;
//     border: 3px solid #FFFFFF;
//     border-radius: 50%;
//     top: 7%;
//     right: 66%;
//     opacity: 0.2;
// }

// .smallcircle {
//     width: 100%;
//     max-width: 168px;
//     height: 168px;
//     position: absolute;
//     border: 2px solid #FFFFFF;
//     border-radius: 50%;
//     top: 35px;
//     right: 77%;
//     opacity: 0.2;
// }