.notActiveContainer {
    width: 100%;
    height: 100vh;
    background-color: #161514;
    padding: 34px 3%;
    color: #fff;
    z-index: 555;
    position: relative;
    overflow: hidden;
}

.walletinfo {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-between;
}

.balText {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #FFFFFF99;
    margin-top: 19px;
}


.balance {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 17px;

    img {
        width: 53px;
    }

    p {
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        
    }
}

.buttons {
    display: flex;
    margin-top: 17px;
    gap: 5%;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        color: #161514;
        gap: 8px;
        padding: 12px 5% 15px 6%;
        border-radius: 8px;
        cursor: pointer;
    }
}

.orange {
    width: 278px;
    height: 278px;
    position: absolute;
    opacity: 0.3;
    border-radius: 50%;
    filter: blur(70px);
    background: linear-gradient(135deg, #d83b69, #d55629 50%, #fbd141);
    top: -25%;
    left: 5%;
    z-index: 0;
}


.redcircle {
    position: absolute;
    width: 650px;
    height: 650px;
    opacity: 0.2;
    filter: blur(130px);
    background: linear-gradient(135deg, #ec2222, #d55629 50%, #f15323);
    border-radius: 50%;
    right: -15%;
    top: 40%;    
    z-index: 0;
}