.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    border-top: 2px solid #555;
    overflow: hidden;
    position: relative;
}

.balanceContainer {
    display: flex;
    position: relative;
    padding: 43px 0 15px 0;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #161514;
    overflow: hidden;
    flex-direction: column;
}

.koshelek {
    display: flex;
    gap: 13px;
    align-items: center;
    color: #fff;
    z-index: 1;

    p {
        font-weight: 400;
        font-size: 14px;
    }
}

.yellowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    position: absolute;
    top: -15%;
}

.yellow {
    width: 278px;
    height: 278px;
    border-radius: 50%;
    background-color: #EE2B0033;
    filter: blur(50px);
    z-index: 0;
}

.totalbaltext {
    width: 100%;
    color: #FFFFFF99;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.8px;
}

.balance {
    display: flex;
    flex-wrap: wrap;
    margin-top: 29px;
    z-index: 1;
}

.bigN {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #fff;
    margin: 17px 0 22px 0;

    span {
        padding: 11px 16px 13px 16px;
        background-color: #000000;
        color: #fff;
        border-radius: 50%;
        border: 2.75px solid #FFFFFF
    }

    img {
        width: 40px;
        height: 40px;
    }
}

.bigNum {
    font-weight: 700;
    font-size: 30px;
    line-height: 42.4px;
}

.approx {
    color: #FFFFFF99;
    font-weight: 700;
    font-size: 12px;
    line-height: 20.8px;
}


.act {
    width: 100%;
    color: #fff;
}

.mix {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;
    margin-top: 14px;
}

.reward {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #2B2A2AA3;
    z-index: 1;
}


.rewarding {
    text-align: center;
    padding: 14px 25%;
    width: 90%;
    background-color: #262626;
    border-radius: 10px;
    color: #808080;
    font-size: 16px;
    font-weight: 700;
}

.time {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 50px;
    border-radius: 10px;
    color: #808080;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.navs {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    gap: 3%;
    
    div {
        gap: 8px;
    }
}

.nav {
    padding: 12px 10%;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    color: #161514;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.tradingButton {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 1%;

    a {
        padding: 25px 35px;
        background: linear-gradient(134.98deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.02) 100%);
        border-radius: 16px;
        border-image-source: linear-gradient(272.61deg, rgba(255, 255, 255, 0.2) 2.66%, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0.05) 100%);
        border: 1px solid #FFFFFF33;
        white-space: nowrap;
        color: #fff;
        backdrop-filter: blur(2px);
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }
}

.info,
.act {
    padding: 0 5%;
}

