

.orange {
    width: 278px;
    height: 278px;
    position: absolute;
    opacity: 0.3;
    border-radius: 50%;
    filter: blur(70px);
    background: linear-gradient(135deg, #d83b69, #d55629 50%, #fbd141);
    top: -25%;
    left: 5%;
    z-index: 0;
}

.redcircle {
    position: absolute;
    width: 650px;
    height: 650px;
    opacity: 0.2;
    filter: blur(130px);
    background: linear-gradient(135deg, #ec2222, #d55629 50%, #f15323);
    border-radius: 50%;
    right: -15%;
    top: 40%;    
    z-index: 0;
}